/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
.container {    
    margin-top: 5%;
    margin-right: 0em;
}

.container-2 {    
    text-align: center;
    margin-right: 790px;
    margin-left: 760px;

}
.container-show {    
    text-align: center;
    margin-right: 590px;
    margin-left: 560px;

}

.msg {    
    text-align: center;
    margin-right: 390px;
    margin-left: 360px;
    font-size: 1.5em

}

.cancelada {
    font-weight: 900;
    color: red;
}

.vigente {
    font-weight: 900;
    color: green;
}

.sin-vigencia {
    font-weight: 900;
    color: blue;
}

.tabla {    
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;


}

.four1 {
    animation: swing ease-in-out 1.5s infinite alternate;
    display: inline-block;
}

.zero {
    animation: swing2 ease-in-out 1.5s infinite alternate;
    display: inline-block;
}

.four2 {
    animation: swing3 ease-in-out 1.5s infinite alternate;
    display: inline-block;
}

@keyframes swing {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

@keyframes swing3 {
    0% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

h1 {
    font-family: 'Fjalla One';
    text-align: center;
    color: #666;
}

h6 {
    font-family: 'Fjalla One';
    text-align: center;
    color: #666;
}

h4 {
    margin-top: 20px;
    font-family: 'Fjalla One';
    text-align: center;
    color: #666;
}




.btn-push.red {
  background: #df4242;
  color: #fff;
  border: 1px solid #a01b1b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #a01b1b;
  -moz-box-shadow: 0px 5px 0px #a01b1b;
  -ms-box-shadow: 0px 5px 0px #a01b1b;
  -o-box-shadow: 0px 5px 0px #a01b1b;
  box-shadow: 0px 5px 0px #a01b1b;
  text-shadow: 1px 1px 1px #a01b1b;
}